@font-face {
    font-family: "NanumGothicCoding";
    font-weight: normal;
    font-style: "Regular";
    src: url("../fonts/nanum-gothic-coding-v14-latin-regular.ttf") format("ttf"), url("../fonts/nanum-gothic-coding-v14-latin-regular.woff2") format("woff2");
}
